# Automatic conversion for all text files
* text=auto eol=lf

# Explicitly specify LF for source code
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.scss text eol=lf
*.css text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.sh text eol=lf