// =============================================================================
// Styles module for Page Layout components
// =============================================================================

.page {
  $app-header-height: 60px;

  &__header {
    display: flex;
    align-items: center;

    padding: 0.25em 0;

    width: 100%;
    height: $app-header-height;

    background-color: var(--color-bg-primary);
    border-bottom: 1px solid var(--color-border-secondary);
  }

  &__header-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__container,
  &__header-container {
    margin: 0 auto;
    padding: 0 1em;
    width: 100%;
    max-width: 1200px;
  }

  &__main {
    width: 100%;
  }

  &__sidebar {
    padding: 1.125em 1em;
    width: 272px;
    height: 100vh;
    background-color: var(--color-bg-tertiary);
  }

  &__wrapper {
    // -------------------------------------------------------------------------
    // Direction
    // -------------------------------------------------------------------------

    &--direction-row {
      display: flex;
      flex-direction: row;
      gap: 1rem;
    }

    &--direction-column {
      display: flex;
      flex-direction: column;
      gap: 1rem;
    }

    // -------------------------------------------------------------------------
    // Justify
    // -------------------------------------------------------------------------

    &--justify-start {
      justify-content: start;
    }

    &--justify-end {
      justify-content: end;
    }

    &--justify-center {
      justify-content: center;
    }

    &--justify-space-between {
      justify-content: space-between;
    }

    // -------------------------------------------------------------------------
    // Align
    // -------------------------------------------------------------------------

    &--align-start {
      align-items: start;
    }

    &--align-end {
      align-items: end;
    }

    &--align-center {
      align-items: center;
    }
  }
}
