// =============================================================================
// File list item styles
// =============================================================================

.file-list-item {
  transition: background-color 0.2s ease;

  &:hover {
    background-color: var(--color-bg-secondary);
  }

  &__cell {
    padding: var(--space-3);
    border-bottom: 1px solid var(--color-border-primary);
    font-size: 12px;
    color: var(--color-text-tertiary);
    vertical-align: middle;

    &--size,
    &--uploaded,
    &--downloaded {
      width: 100px;
    }
  }

  &__name {
    display: block;

    font-size: 0.875rem;
    font-weight: 500;
    color: var(--color-text-primary);
    text-overflow: ellipsis;
    white-space: nowrap;

    overflow: hidden;
  }

  &__comment {
    display: block;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__actions-button {
    svg {
      max-width: unset;
      height: unset;
    }
  }
}
