// =============================================================================
// Styles module for PageSidebar component
// =============================================================================

.page-sidebar {
  font-size: 1rem;
  max-width: 272px;
  width: 100%;

  &__inner-wrap {
    padding: 1.125em 1em;
  }
}
