// =============================================================================
// Styles for the `CopyableInfoRow` component
// =============================================================================

.user-details-modal-info-copyable-row {
  display: block;
  text-align: left;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    border-color: var(--color-border-tertiary);

    .user-details-modal-info__copy-decor-icon {
      opacity: 1;
    }
  }
}
