// =============================================================================
// Styles module for AppLayout component
// =============================================================================

$app-header-height: 60px;

.app-content-wrap {
  display: flex;
  width: 100%;
}

.app-header {
  padding: 1.125em 1em;
  width: 100%;
  height: $app-header-height;
  background-color: #f7f4f4;
}

.app-sidebar {
  padding: 1.125em 1em;
  width: 272px;
  height: 100vh;
  background-color: #f7f4f4;
}

.app-main {
  padding: 1.125em 1em;
  width: 100%;
  height: calc(100vh - $app-header-height);
}
