// =============================================================================
// Styles for feature "Reset password form"
// =============================================================================

.reset-password-form {
  display: grid;
  gap: 1rem;

  &__inputs {
    @media (max-width: 1240px) {
      flex-direction: column;
    }
  }
}
