// =============================================================================
// Styles for AuthActions component
// =============================================================================

.auth-actions {
  display: flex;
  gap: 1rem;

  &--reverse {
    flex-direction: row-reverse;
  }
}
