// =============================================================================
// Styles for AuthActions component
// =============================================================================

.auth-actions {
  display: flex;
  gap: var(--space-4);

  &--reverse {
    flex-direction: row-reverse;
  }

  &--mobile-column {
    @media (max-width: 352px) {
      flex-direction: column;
    }
  }
}
