// =============================================================================
// Styles for AuthActions component
// =============================================================================

.auth-actions {
  display: flex;
  gap: var(--space-4);

  &--reverse {
    flex-direction: row-reverse;
  }
}
