// =============================================================================
// Styles for user details modal
// =============================================================================

.user-details-modal-info {
  max-width: 300px;
  width: 100%;

  &__section {
    position: relative;
    padding: var(--space-4);
    background-color: var(--color-bg-tertiary);
    border-radius: 10px;
    width: 100%;

    &:not(:last-child) {
      margin-bottom: var(--space-4);
    }
  }

  &__header {
    position: relative;
    display: flex;
    margin-bottom: var(--space-3);

    &.hovered {
      .user-details-modal-info__copy-block-btn {
        opacity: 1;
        visibility: visible;
      }
    }
  }

  &__title {
    margin-right: auto;
    color: var(--color-text-tertiary);
    cursor: default;
    transition: transform 0.3s ease;
  }

  &__items {
    display: grid;
    gap: var(--space-2);
  }

  &__item {
    position: relative;

    padding: var(--space-2) var(--space-6) var(--space-2) var(--space-3);

    background-color: var(--color-bg-primary);
    border: 2px solid transparent;
    border-radius: 6px;
  }

  &__storage-progress {
    padding-right: var(--space-3);
    cursor: default;
  }

  &__value {
    font-size: 16px;
    font-weight: 500;
    color: var(--color-text-primary);
  }

  &__label {
    margin: 0;
    font-size: 13px;
    color: var(--color-text-secondary);
  }

  &__copy-decor-icon {
    position: absolute;
    top: 50%;
    right: var(--space-2);

    opacity: 0;
    transition: opacity 0.2s;
    transform: translateY(-50%);
  }

  &__copy-block-btn {
    color: var(--color-text-tertiary);
    opacity: 0;
    visibility: hidden;
    transition:
      opacity 0.2s ease,
      visibility 0.2s ease;

    svg {
      transition: color 0.2s;
    }

    &:hover:not(:disabled) {
      color: var(--color-text-secondary);
    }
  }
}
