// =============================================================================
// Styles module for Avatar component
// =============================================================================

.avatar {
  border-radius: 8px;
  object-fit: cover;

  // -------------------------------- Fallback ---------------------------------

  &--fallback {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-tertiary);
    color: var(--color-text-primary);
  }
  
  // ---------------------------------- Sizes ----------------------------------

  &--sm {
    width: 2.3em;
    height: 2.3em;

    font-size: 0.75rem;
    line-height: 0;
  }

  &--md {
    width: 3em;
    height: 3em;

    font-size: 0.875rem;
    line-height: 0;
  }

  &--lg {
    width: 4em;
    height: 4em;

    font-size: 1rem;
    line-height: 0;
  }
}
